spring:
  application:
    name: clean-java-main

  datasource:
    url: jdbc:postgresql://localhost:5434/clean
    username: peuser
    password: rhtmxm

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  graphql:
    graphiql:
      enabled: true

logging:
  level:
    org.hibernate.SQL: info
